.projects-container {
    margin: 0 15% 12.5% 15%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.projects-title {
    display: flex;
    font-weight: bold;
    align-items: center;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 2s, transform 2s ease-in-out;
}
.projects-title.visible {
    opacity: 1;
    transform: translateX(0);
}
.projects-title-number {
    color: gold;
    margin-right: 15px;
    font-size: 36px;
}
.projects-title-name {
    color: white;
    font-size: 36px;
    margin-right: 20px;
}
.projects-title-line {
    width:  75%;
    height: 1px;
    border: none; /* Removes any border or outline */
    background-color: gray; /* Sets the line's color (replace with your preferred color) */
    margin: 5px 0; /* Adds spacing above and below the line (adjust as needed) */
}
.featured-projects-description {
    margin-bottom: 100px;
}
.other-projects-title {
    color: white;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 50px;
    text-align: center;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1.5s, transform 1.5s ease-in-out;
}
.other-projects-title.visible {
    opacity: 1;
    transform: translateY(0);
}
.other-projects-description {
    display: grid;
    gap: 1em;
    margin-bottom: 100px;
}
  
@media (min-width: 1100px) {
    .other-projects-description {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 1100px) { 
    .projects-title-number {
        font-size: 24px;
    }
    .projects-title-name {
        font-size: 24px;
    }
    .other-projects-title {
        font-size: 22px;
    }
}

@media screen and (max-width: 800px) {
    .featured-project-container {
        margin-bottom: 100px;
    }
    .projects-title {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 600px) {
    .featured-project-container {
        margin-bottom: 150px;
    }
    .projects-title {
        margin-bottom: 100px;
    }
}