.about-container {
    margin: 0px 400px 200px 300px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 1000px;
    opacity: 0;
    transform: translateX(300px);
    transition: opacity 2.5s, transform 2.5s ease-in-out;
}
.about-container.visible {
    opacity: 1;
    transform: translateX(0);
}
.about-title {
    display: flex;
    font-weight: bold;
    align-items: center;
}
.about-title-number {
    color: gold;
    margin-right: 15px;
    font-size: 36px;
}
.about-title-name {
    color: white;
    font-size: 36px;
    margin-right: 20px;
}
.about-description {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 900px;
    color: lightgray;
}
.about-description-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    line-height: 1.5;
}
.about-description-info-element {
    margin-bottom: 6px;
}
.about-description-info-paragraphbreak {
    margin-bottom: 30px;
}
.tech-list-container {
    display: flex;
}
.list {
    margin-right: 100px;
    list-style-type: disclosure-closed;
}
.about-description-image {
    border-radius: 10px;
    height: 325px;
    width: auto;
    margin-left: 70px;
}
.about-title-line {
    width:  35%;
    height: 1px;
    border: none; /* Removes any border or outline */
    background-color: gray; /* Sets the line's color (replace with your preferred color) */
    margin: 5px 0; /* Adds spacing above and below the line (adjust as needed) */
}
.tech-list-element {
    margin-bottom: 10px;
}