.about-container {
    margin: 0% 15% 15% 15%;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateX(25%);
    transition: opacity 2.5s, transform 2.5s ease-in-out;
}
.about-container.visible {
    opacity: 1;
    transform: translateX(0);
}
.about-title {
    display: flex;
    font-weight: bold;
    align-items: center;
    margin-bottom: 50px;
}
.about-title-number {
    color: gold;
    margin-right: 15px;
    font-size: 36px;
}
.about-title-name {
    color: white;
    font-size: 36px;
    margin-right: 20px;
}
.about-description {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    color: lightgray;
}
.about-description-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    line-height: 1.5;
}
.about-description-info-element {
    margin-bottom: 6px;
}
.tech-list-container {
    display: flex;
}
.list {
    margin-right: 100px;
    list-style-type: disclosure-closed;
}
.about-image-container {
    margin-left: 50px;
}
.about-image {
    border-radius: 10px;
    height: 50%;
}
.about-title-line {
    height: 1px;
    border: none; /* Removes any border or outline */
    background-color: gray; /* Sets the line's color (replace with your preferred color) */
    margin: 5px 0; /* Adds spacing above and below the line (adjust as needed) */
    width: 25%;
}
.tech-list-element {
    margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
    .about-container {
        flex-wrap: wrap;
    }
    .about-image-container {
        margin-top: 50px;
        margin-left: 0;
    }
    .about-title-number {
        font-size: 24px;
    }
    .about-title-name {
        font-size: 24px;
    }
    .about-description {
        font-size: 14px;
    }
}