.header-container {
    display: flex;
    margin: 20px 50px 0px 50px;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 1.5s, transform 1.5s ease-in-out;
}
.header-container.visible {
    opacity: 1;
    transform: translateY(0);
}
.brand-container {
    font-size: 40px;
    font-weight: bold;
    flex-grow: 5;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    cursor: pointer;
    align-items: center;
}
.navbar-tag {
    text-decoration: none;
}
.navbar-tag-a {
    text-decoration: none;
    color: inherit;
}
.navbar-element {
    color: lightgray;
}
.navbar-element:hover {
    color: #FFD700;
}
.navbar-number {
    color: #FFD700;
    margin-right: 10px;
}
.navbar-button {
    background-color: transparent;
    border: 2px solid #FFD700;
    border-radius: 4px;
    color: #FFD700;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
}